server {
    listen       80;
    server_name  hyg-admin.hltmsp.local;
    access_log /logs/nginx/hyg-admin-access.log;
    error_log /logs/nginx/hyg-admin-error.log;
    root /Users/liang/www/code.aliyun.com/htdf/htdf_tax_buy/backend/web;
    location / {
        index  index.html index.php index.htm;

        if (!-e $request_filename){
          rewrite ^/(.*) /index.php last;
        }
    }
    location ~ \.php(.*)$ {
        fastcgi_pass php-74:9000;
        fastcgi_index  index.php;
        fastcgi_split_path_info  ^((?U).+\.php)(/?.+)$;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  PATH_INFO  $fastcgi_path_info;
        fastcgi_param  PATH_TRANSLATED  $document_root$fastcgi_path_info;
        include        fastcgi_params;
    }
}

server {
    listen       80;
    server_name  hyg-api.hltmsp.local;
    access_log /logs/nginx/hyg-api-access.log;
    error_log /logs/nginx/hyg-api-error.log;
    root /Users/liang/www/code.aliyun.com/htdf/htdf_tax_buy/api/web;
    location / {
        index  index.html index.php index.htm;

        if (!-e $request_filename){
          rewrite ^/(.*) /index.php last;
        }
    }
    location ~ \.php(.*)$ {
        fastcgi_pass php-74:9000;
        fastcgi_index  index.php;
        fastcgi_split_path_info  ^((?U).+\.php)(/?.+)$;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  PATH_INFO  $fastcgi_path_info;
        fastcgi_param  PATH_TRANSLATED  $document_root$fastcgi_path_info;
        include        fastcgi_params;
    }
}

server {
    listen       80;
    server_name  datacenter.hltmsp.local;
    access_log /logs/nginx/datacenter-access.log;
    error_log /logs/nginx/datacenter-error.log;
    root /Users/liang/www/code.aliyun.com/htdf/datacenter/frontend/web;
    location / {
        index  index.html index.php index.htm;

        if (!-e $request_filename){
          rewrite ^/(.*) /index.php last;
        }
    }
    location ~ \.php(.*)$ {
        fastcgi_pass php-81:9000;
        fastcgi_index  index.php;
        fastcgi_split_path_info  ^((?U).+\.php)(/?.+)$;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  PATH_INFO  $fastcgi_path_info;
        fastcgi_param  PATH_TRANSLATED  $document_root$fastcgi_path_info;
        include        fastcgi_params;
    }
}

server {
    listen       80;
    server_name  outlet-frontend.hltmsp.local;
    access_log /logs/nginx/outlet-frontend-access.log;
    error_log /logs/nginx/outlet-frontend-error.log;
    root /Users/liang/www/gitlab.hltct.cn/outlet/frontend/web;
    location / {
        index  index.html index.php index.htm;

        if (!-e $request_filename){
          rewrite ^/(.*) /index.php last;
        }
    }
    location ~ \.php(.*)$ {
        fastcgi_pass php-81:9000;
        fastcgi_index  index.php;
        fastcgi_split_path_info  ^((?U).+\.php)(/?.+)$;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  PATH_INFO  $fastcgi_path_info;
        fastcgi_param  PATH_TRANSLATED  $document_root$fastcgi_path_info;
        include        fastcgi_params;
    }
}

server {
    listen       80;
    server_name  outlet-backend.hltmsp.local;
    access_log /logs/nginx/outlet-backend-access.log;
    error_log /logs/nginx/outlet-backend-error.log;
    root /Users/liang/www/gitlab.hltct.cn/outlet/backend/web;
    location / {
        index  index.html index.php index.htm;

        if (!-e $request_filename){
          rewrite ^/(.*) /index.php last;
        }
    }
    location ~ \.php(.*)$ {
        fastcgi_pass php-81:9000;
        fastcgi_index  index.php;
        fastcgi_split_path_info  ^((?U).+\.php)(/?.+)$;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  PATH_INFO  $fastcgi_path_info;
        fastcgi_param  PATH_TRANSLATED  $document_root$fastcgi_path_info;
        include        fastcgi_params;
    }
}